@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.slick-slider {
  .slick-prev,
  .slick-next {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    left: 20px;
    opacity: 70%;
  }

  .slick-next {
    opacity: 70%;
    right: 20px;
  }
  .slick-prev
  .slick-next:hover{
    opacity: 100%;
  }
  .slick-prev::before,
  .slick-next::before {
    
    font-size: 30px;
    color: #d2d2d2;
  }
}
